#animal

  %h2= @animal.nom

  - if @animal.precedant
    %p#precedent
      %a{:href => "/animal/#{@animal.precedant.id}", :title => "Précédent : "+@animal.precedant.nom, :accesskey => 'P'}
        Précédent

  - if @animal.suivant
    %p#suivant
      %a{:href => "/animal/#{@animal.suivant.id}", :title => "Suivant : "+@animal.suivant.nom, :accesskey => 'N' }
        Suivant

  %dl#pancarte
    %dt Nom
    %dd= @animal.nom

    %dt Classe
    %dd= @animal.classe

    %dt Plieur
    %dd= @animal.plieur

    %dt Photographe
    %dd= @animal.photographe

    - if @animal.pelage
      %dt Pelage
      %dd= @animal.pelage
    - if @animal.provenance
      %dt Provenance
      %dd
        %a{:href => @animal.provenance}= @animal.provenance

