#liens
  %h2 Liens

  %h3 Origamis

  %dl
    %dt= link_to "http://dev.origami.com/diagram.cfm"
    %dd Site dédié à l'origami, en anglais. Vous pouvez apprendre à plier là-bas 335 modèles. Attention cependant, les diagrams sont tous oeuvres de personnes diverses et variées, et sont souvent dessinés, c'est parfois un peu dur à suivre.

    %dt= link_to "http://db.origami.com"
    %dd Site bien connu des origamistes, c'est une base de données géante où sont repertoriés tous les modèles d'origami existants, et où vous pouvez vous procurer leur diagrams. Très lent, assez peu user friendly, mais très complet.

    %dt= link_to "http://www.origami-usa.org/modelindex"
    %dd Egalement en anglais, c'est le site d'un des groupes references d'origamistes. Il est aux USA et contient plein d'infos sur le sujet. Si vous êtes là-bas, n'hésitez pas à aller y jeter un coup d'oeil IRL.

    %dt= link_to "http://www.britishorigami.info"
    %dd Autre groupe référence, au Royaume-Uni cette fois. Ca se rapproche. :)

    %dt= link_to "http://www.origami-club.com/en/"
    %dd Quand on parle de club, voici un site (en anglais toujours) qui vous propose plein de modèles à réaliser, et ce très simplement. Les explications sont claires et excellentes, il y a même certains modèles en animation.

    %dt= link_to "http://en.wikipedia.org/wiki/Origami"
    %dd La page wikipédia, ça parait essentielle de la mettre. :)

    %dt= link_to "http://en.wikipedia.org/wiki/Origami_techniques"
    %dd Tous mettent les techniques de base à avoir pour faire de l'origami mais la page wikipédia qui les recense est particulièrement claire, complète et bien faite pour apprendre le sujet.

    %dt= link_to "http://www.drunk-fu.com"
    %dd On ne va pas mettre tous les sites perso d'origami. Mais on vous met celui-là. Le site d'un origamiste, atteint de folie douce, qui met plein d'argent dans le pliage, au sens propre du terme, puisqu'il plie -divinement- avec des dollars. Et le titre de son blog est tout simplement magnifique de poésie.

    %dt= link_to "http://www.origami-fun.com"
    %dd Petit site absolument charmant avec de jolies photos.

  %h3 Pas origamis

  %ul
    %li Nous sommes un sous-domaine de <a href="http://rousseur.org">Rousseur</a>.
    %li Nous sommes hebergés par <a href="http://bearnaise.net">Bearnaise</a>.
    %li Nous sommes fous, ça je crois que c'est indéniable, mais on qu'est-ce que se marre.
    %li Nous utilisons <a href="http://sinatra.rubyforge.org/" hreflang="en">Sinatra</a> comme esclave technologique.
    %li L'impulsion de création de ce site a été provoquée par <a href="http://chezcalice.blogspot.com/2008/10/et-toutes-ses-dents.html">le concours</a> lançé par la délicieuse <a href="http://chezcalice.blogspot.com/">Calice</a>, auquel nous aurons participé donc.
    %li Certains animaux pliés ici sont en danger. C'est bien beau le papier, mais ils sont mieux en vrai. Deux derniers liens donc, vers <a href="http://www.wwf.fr/">WWF</a> et <a href="http://www.greenpeace.org/france/">Greenpeace</a> s'impose. :)









