#taxonomies
  %h2 Taxonomie des pensionnaires
  %ul
    - for taxonomy in @taxonomies do
      %li
        %a{:href => "/taxonomie/#{taxonomy.id}"}
          = strong_capital_letter taxonomy.name

#taxonomie
  %h2= @title
  %ul
    - for animal in @animals
      %li
        %a{:href => "/animal/#{animal.id}"}
          = strong_capital_letter animal.nom

