#taxonomies
  %h2 Taxonomies des pensionnaires
  %ul
    - for taxonomy in @taxonomies do
      %li
        %a{:href => "/taxonomie/#{taxonomy.id}"}
          = strong_capital_letter taxonomy.name


#taxonomie
  %h2= @taxonomy
  %ul
    - for animal in @animals do
      %li
        %a{:href => "/animal/#{animal.id}"}
          = strong_capital_letter animal.nom

